{% extends 'base.html' %}

{% block content %}
<div class="row">



<div class="col-md-6">

  <br>
  <form method="post">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">
        Название: <input type="text" name="title" value="{{ phase.title }}">
      </li>
      <li class="list-group-item">Стадии:<select name="id_stage">
      {% for stage in stages %}
        <option value="{{ stage.id }}">{{ stage.title }}</option>
      {% endfor %}
  </select>
      </li>
      <li class="list-group-item">Дата начала: <input type="date" name="date_start" value="{{ phase.date_start }}"></li>
      <li class="list-group-item">Дата сдачи: <input type="date" name="date_finish" value="{{ phase.date_finish }}"></li>
    </ul>
    <button type="submit" class="btn btn-primary">Изменить</button>
  </form>

</div>

</div>

{% endblock %}