{% extends 'base.html' %}

{% block content %}
<div class="row">



<div class="col-md-6">

  <br>

    <ul class="list-group">
      <li class="list-group-item list-group-item-primary">
        Название: {{ stage.title }}
      </li>
      <li class="list-group-item">Проект: {{ stage.project.title }}</li>
      <li class="list-group-item">Дата начала: {{ stage.date_start }}</li>
      <li class="list-group-item">Дата сдачи: {{ stage.date_finish }}</li>
    </ul>


</div>

</div>

{% endblock %}